
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Demo</h2>

<div class="row">
    <div class="col-md-2">
        <ul id="list1">
            <li id="first">First</li>
            <li id="second">Second</li>
            <li id="third">Third</li>
        </ul>
        <ul id="list2" class="dont-show">
            <li>Hello</li>
            <li>World</li>
        </ul>

        <ul id="list3">
            <li>Fading</li>
            <li>List</li>
        </ul>

        <button id="btn1">
            Animate me!
        </button>
        
        <button id="btn2">
            Capture
        </button>
    </div>
    <div id="canvas" class="col-md-8 canvas-container">
        <div>
            <section>
                <p class="text-center" style="font-size: 20px">Hello There</p>
                <p class="text-center">This is just some arbitrary text to play around with</p>
                <p class="pull-right">This text is to the rigth</p>
                <p class="pull-left">This text is to the left</p>
            </section>
        </div>
    </div>
    <div class="col-md-2">
        <ul id="display">
            
        </ul>
    </div>
    <div >
        
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function() {
            $("#list1").append("<li>Hello</li>");
            
            var tmp = $("#first");
            var tmp1 = $("#first").on("click",
                function() {
                    console.log(tmp);
                    console.log(tmp1);
                    $("#first").remove();
                });

            // Shows or hides list2 depending on whether it's visible or not.
            var list2 = $("#list2");
            $("#third").on("click",
                function() {
                    if (list2.hasClass("dont-show"))
                        list2.removeClass("dont-show");
                    else
                        list2.addClass("dont-show");
                });

            // Fades list3 back and forth.
            $("#second").on("click",
                function() {
                    $("#list3").toggle(1000,
                        function() {
                            console.log("Fade's over");
                        });
                });

            // Animates the width of btn1 back and forth.
            var button = $("#btn1");
            button.on("click",
                function () {
                    if (button.width() > 500) {
                        button.animate({
                                width: "100px"
                            },
                            2000,
                            function() {
                                console.log("Animation over");
                            });
                    } else {
                        button.animate({
                                width: "600px"
                            }, 2000,
                            function() {
                                console.log("Animation over");
                            });
                    }
                    
                });

            var btn2 = $("#btn2");
            btn2.on("click",
                function() {
                    html2canvas(document.querySelector("#canvas")).then(function (canvas) {
                        console.log(canvas);

                        var scaleRatio = $("#display").width() / $("#canvas").width();
                        var origWidth = canvas.getAttribute("width");
                        var newWidth = origWidth * scaleRatio;

                        var newHeight = canvas.getAttribute("height") * scaleRatio;

                        console.log(newWidth + " " + newHeight);

                        var jCanvas = $(canvas);
                        jCanvas.attr("style", "width: " + newWidth + "px; height: " + newHeight + "px");

                        //canvas.setAttribute("style", "width: 130px; height: 17px"); // Have to set 'style' to override the element.style

                        $("#display").append(jCanvas);
                    });
                });

            
        });
        
        
    </script>
}

